

.navigation {
    
    display: flex;
    margin-top: 20px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.nav {
    list-style-type: none;
    display: flex;
    margin-top: 35px;
}

.signin {
    width: 102px;
    height: 46px;
    font-family: Poppins;
    font-style: SemiBold;
    font-size: 16px;
    font-weight: bold;
    line-height: 1,5px;
    background-color: #FFFFFF;
    color: #173A56; 
    border: none;   
    margin-right: 14px; 
    margin-left: 700px;
}

.signup {
    width: 110px;
    height: 46px;
    margin-right: 145px;
    border: none;
    background-color: #FF9900;
    border-radius: 4px;
    font-family: Poppins;
    font-style: SemiBold;
    font-weight: bold;
    line-height: 1,5px;
    font-size: 16px;
    color: #FFFFFF   
}

.logo {
    max-width: 185,34px;
    margin-top: 42px;
    margin-bottom: 53px;;
}

.logo_img {
    display: block;
    width: 30.16px;
    height: 30px;
    margin-left: 143.92px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: url(../images/Bitmap.png);
}

.logo_text {
    margin-left: 187px;   
}

.header {
    max-width: 518px;
    height: 331px;
    margin-left: 141px;
    margin-top: 128px;
}

.h1 {
    margin-bottom: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 1,2px;
    color: #2F281E;
}

.info {
    width: 458px;  
    margin-bottom: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1,5px;
    color: #544837;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.people {    
    width: 605px;
    height: 496px;
    margin-left: 666px; 
}

/*.circle {
    margin-right: 214px;
    margin-top: 157px;
    width: 467px;
    height: 438px;
    color: #FFE5D2
}*/

.buttons {
    margin-top: 489px;
    max-width: 366px;
    height: 53px;
}

.Getstarted {
    width: 175px;
    height: 53px;
    border: none;
    background-color: #FF9900;
    border-radius: 4px;
    font-family: Poppins;
    font-style: Bold;
    font-size: 16px;
    color: #FFFFFF   
}

i {
    font-size:40px;
    height: 17px; 
    width: 20px;
    color: #ff9900;
}

.VIDEO {
    border: none;
    width: 135px;
    height: 24px;
    font-family: Poppins;
    font-style: SemiBold;
    font-size: 16px;
    margin-left: 56px;
    background-color: #FFFFFF;
    text-decoration: underline;
    color: #FF9900    
}

.feature {
    max-width: 1095px;
    height: 294px;
    margin-top: 54px; 
    margin-left: 157px;
}

h2 {
    max-width: 539px;
    height: 108px;
    margin-left: 439px;
    margin-top: 416px;
    font-family: Poppins;
    font-style: Bold;
    font-size: 36px;
    text-align: center;
    color: #2F281E;
}

h3 {
    font-family: Poppins;
    font-style: SemiBold;
    font-size: 22px;
    text-align: left;
    color: #2F281E;
}

p { 
    font-family: Poppins;
    font-style: Medium;
    font-size: 16px;
    color:#544837
}

.section1,.section2,.section3 {
    width: 240px;
    height: 178px;

}

.section1 {
    
    
}

.section2 {
    margin-left: 443px;
}

.section3 {
    margin-left: 728px;
}

.section4 {
    width: 240px;
    height: 124px;
    margin-left: 1012px;
}




